<section class="section summary-section">
  <div class="row">
    <div class="col-md-3">
      <% if resume.user.avatar?%>
        <%= image_tag resume.user.avatar.url, alt: "", size: "170x170" %>
      <% else %>
        <%= image_tag "NoAvatar.jpg", alt: "", size: "170x170" %>
      <%end%>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-8">
          <h2><%= resume.position %></h2>
        </div>
        <div class="col-md-4">
          <div class="float-right">
            <h4><%= resume.salary %> rub</h4>
          </div>
        </div>
      </div>
      <dl class="row">
        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">
          <%= resume.category.name %>
        </dd>
        <dt class="col-sm-3">Date of Birth</dt>
        <% if resume.user.birthday.present? %>
          <dd class="col-sm-9"><%= resume.user.birthday %></dd>
        <% else %>
          <dd class="col-sm-9">not specified</dd>
        <% end %>
        <dt class="col-sm-3">Gender</dt>
        <% if resume.user.gender.present?%>
          <dd class="col-sm-9"><%= resume.user.gender %></dd>
        <% else %>
          <dd class="col-sm-9">not specified</dd>
        <% end %>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">
          <%= resume.user.email %>
        </dd>
        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">Milano</dd>
        <dt class="col-sm-3 text-truncate">Employment:</dt>
        <dd class="col-sm-9">Full-time, part-time employment, remote work</dd>
        <dt class="col-sm-3 text-truncate">About me:</dt>
        <dd class="col-sm-9"><%= resume.about_me %> </dd>
      </dl>
    </div>
  </div>
</section>
